{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}

<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center ">
        <h6 class="mb-0">Update Resume Information</h6>

    </div>
    <div class="card-body">
        <div class="card">
            <div class="card-body">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col">
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">First Name</label>
                                {% render_field form.first_name class="form-control" %}
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Surname</label>
                                {% render_field form.surname class="form-control" %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Email ID</label>
                                {% render_field form.email class="form-control" %}
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Phone Number</label>
                                {% render_field form.phone class="form-control" %}
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Upload Resume</label>
                        {% render_field form.resume_upload class="form-control" %}
                        <div id="emailHelp" class="form-text">
                            We'll never share your information with anyone else.
                        </div>
                    </div>
                    
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>

</div>

{% endblock content %}